<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Andy, super awesome adorable cook, is the master of the kitchen. Basically everything is his specialty.
</p>
<p>
	Dylan, somewhat sweet, is the master of consuming everything that Andy makes while in the kitchen! And most of the time its super tasty... 
</p>